<!DOCTYPE html>
<html>
<head>
  <title>Vue.js练习</title>
</head>
<body>
<div id="app">
  {{message}}
  <p v-bind:title="hover">
    试试把鼠标悬停在我上方吧
  </p>
  <button v-if="seen">v-if 控制我的显示</button>
  <ol>
    <li v-for="todo in todos">
      {{todo.text}}
    </li>
  </ol>
  <button v-on:click="hideSeen">隐藏/显示 上面的 V-if 按钮</button>
  <input v-model="message" placeholder="试试输入吧" autofocus>
</div>

<script src='../public/javascripts/vue.js'></script>
<script>
    var app=new Vue({
        el:"#app",
        data:{
            message:"Hello Vue,数据和DOM绑定在一起，响应式的元素--我是app.message",
            hover:"我是指令V-Bind提供的哦",
            seen:true,
            todos:[{text:'学习Html,Css,Js'},{text:'学习Vue'},{text:'学习Node'},{text:'以上由v-for友情赞助 todos.push({text:"添加更多todo"})'}],

        },
        methods:{
            hideSeen:function () {
                this.seen=!this.seen;
            }
        }
    });
</script>
</body>
</html>